*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#tri-force {
    /*height: 50vh;*/
    /*width: 50vh;*/
    display: grid;
    grid-template-rows: repeat(16, 40px);
    grid-template-columns: repeat(16, 40px);
    /*background: black;*/
    /*grid-template-areas:*/
    /*    "bl bl bl bl bl bl bl bl bl bl bl bl bl bl bl bl"*/
    /*    "bl yl bl br br br bl yl yl bl br br br bl yl bl"*/
    /*    "bl yl bl br wh br bl yl yl bl br wh br bl yl bl"*/

    /*    "bl wh bl brl brl brl bl wh wh bl brl brl brl bl wh bl"*/
    /*    "bl wh bl brl brl brl bl wh wh bl brl brl brl bl wh bl"*/
    /*    "bl wh bl brl brl brl bl wh wh bl brl brl brl bl wh bl"*/

    /*    "bl yl bl br wh br bl yl yl bl br wh br bl yl bl"*/

    /*    "bl yl bl br br br bl yl yl bl br br br bl yl bl"*/
    /*    "bl yl bl br br br bl yl yl bl br br br bl yl bl"*/
    /*    "bl yl bl bl bl bl bl yl yl bl bl bl bl bl bl bl"*/

    /*    "bl yl yl yl yl yl wh wh wh wh yl yl yl yl yl bl"*/

    /*    "bl bl bl bl bl bl yl bl bl yl bl bl bl bl bl bl"*/

    /*    "bl yl bl br br bl yl yl yl yl bl br br bl yl bl"*/

    /*    "bl yl bl bl bl bl bl bl bl bl bl bl bl bl yl bl"*/
    /*    "bl yl yl yl yl yl yl yl yl yl yl yl yl yl yl bl"*/
    /*    "bl bl bl bl bl bl bl bl bl bl bl bl bl bl bl bl";*/
}
/* Line 1 */
#line1 {
    grid-area: 1/1/2/17;
    background: black;
}

/* Line 2 */

#line2{
    grid-area:2/1/3/17;
    background: black;
    display: grid;
    grid-template-columns: inherit;
}
#l1y1{
    grid-area: 1/2/2/3;
    background: yellow;
}
#l1br1{
    grid-area: 1/4/2/7;
    background: saddlebrown;
}
#l1y2{
    grid-area: 1/8/2/10;
    background: yellow;
}
#l1br2{
    grid-area: 1/11/2/14;
    background: saddlebrown;
}
#l1y3{
    grid-area: 1/15/2/16;
    background: yellow;
}
#l1bk{
    grid-area: 1/16/2/17;
}

/* Line 3 */

#line3 {
    grid-area:3/1/4/117;
    background: black;
    display: grid;
    grid-template-columns: inherit;
}
#l3y1{
    grid-area: 1/2/2/3;
    background: yellow;
}
#l3br1{
    grid-area: 1/4/2/5;
    background: saddlebrown;
}
#l3wh1{
    grid-area: 1/5/2/6;
    background: white;
}
#l3br2{
    grid-area: 1/6/2/7;
    background: saddlebrown;
}
#l3yl2{
    grid-area: 1/8/2/10;
    background: yellow;
}
#l3br3{
    grid-area: 1/11/2/12;
    background: saddlebrown;
}
#l3wh2{
    grid-area: 1/12/2/13;
    background: white;
}
#l3br4{
    grid-area: 1/13/2/14;
    background: saddlebrown;
}
#l3yl3{
    grid-area: 1/15/2/16;
    background: yellow;
}

/* Line 4 */

#line4{
    grid-area: 4/1/5/17;
    background: black;
    display: grid;
    grid-template-columns: inherit;
}
#l4wh1{
    grid-area: 1/2/2/3;
    background: white;
}
#l4brl1{
    grid-area: 1/4/2/7;
    background: sandybrown;
}
#l4wh2{
    grid-area: 1/8/2/10;
    background: white;
}
#l4brl2{
    grid-area: 1/11/2/14;
    background: sandybrown;
}
#l4wh3{
    grid-area: 1/15/2/16;
    background: white;
}

/* Line 5 */

#line5{
    grid-area: 5/1/6/17;
    background: black;
    display: grid;
    grid-template-columns: inherit;
}
#l5wh1{
    grid-area: 1/2/2/3;
    background: white;
}
#l5brl1{
    grid-area: 1/4/2/7;
    background: sandybrown;
}
#l5wh2{
    grid-area: 1/8/2/10;
    background: white;
}
#l5brl2{
    grid-area: 1/11/2/14;
    background: sandybrown;
}
#l5wh3{
    grid-area: 1/15/2/16;
    background: white;
}

/* Line 6 */

#line6{
    grid-area: 6/1/7/17;
    background: black;
    display: grid;
    grid-template-columns: inherit;
}
#l6wh1{
    grid-area: 1/2/2/3;
    background: white;
}
#l6brl1{
    grid-area: 1/4/2/7;
    background: sandybrown;
}
#l6wh2{
    grid-area: 1/8/2/10;
    background: white;
}
#l6brl2{
    grid-area: 1/11/2/14;
    background: sandybrown;
}
#l6wh3{
    grid-area: 1/15/2/16;
    background: white;
}

/* Line 7 */

#line7{
    grid-area: 7/1/8/17;
    background: black;
    display: grid;
    grid-template-columns: inherit;
}
#l7y1{
    grid-area: 1/2/2/3;
    background: yellow;
}
#l7br1{
    grid-area: 1/4/2/5;
    background: saddlebrown;
}
#l7wh1{
    grid-area: 1/5/2/6;
    background: white;
}
#l7br2{
    grid-area: 1/6/2/7;
    background: saddlebrown;
}
#l7yl2{
    grid-area: 1/8/2/10;
    background: yellow;
}
#l7br3{
    grid-area: 1/11/2/12;
    background: saddlebrown;
}
#l7wh2{
    grid-area: 1/12/2/13;
    background: white;
}
#l7br4{
    grid-area: 1/13/2/14;
    background: saddlebrown;
}
#l7yl3{
    grid-area: 1/15/2/16;
    background: yellow;
}
#line8
#line9
#line10
#line11
#line12
#line13
#line14
#line15
#line16