#body-container{
    height: 100vh;
}

#picture{
    height: 50vh;
}

#chest-pic {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-image: url("zchest.png");
    background-repeat: no-repeat;
}

#text {
    height: 35vh;
}

#button {
    height: 15vh;
}